extends layout

block content
  h1= title
  article#firstArticle
    p#firstP This is the first blog post I've ever written.

block content
  h1= title
  article#firstArticle
    p#firstP This is the first blog post I've ever written.    
